<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Books</title>
</head>
<body>
    <main>
        <section class="title-section">
            <h1 class="title-section__title">Node.js - Books App, collection</h1>
            <p class="title-section__subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, officia tenetur obcaecati id sit quaerat laborum voluptatibus maxime corporis sed dolorem voluptas deleniti facilis pariatur, inventore suscipit facere nam.</p>
        </section>

        <section class="book-list__wrap">
            <p>Submit a book:</p>
            <form action="/books" method="POST">
                <input type="text" placeholder="title" name="title">
                <button type="submit">Submit</button>
              </form>
        </section>
    </main>
</body>
</html>